{% extends 'web/base_alt.html' %} {% load staticfiles %} {% block title %}{{
car.brand }} {{ car.name }}{% endblock %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/css_style.default.css' %}"
  id="theme-stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bootstrap-datepicker.min.css' %}"
  id="theme-stylesheet"
/>
{% endblock %} {% block menu %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'web:cars' %}">Cars</a>
  </li>
</ul>
{% endblock %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3 class="my-4">{{ car.brand }}</h3>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="card mt-4">
        <img
          class="card-img-top img-fluid"
          src="{{ car.image.url }}"
          alt=""
        />
        <div class="card-body">
          <h3 class="card-title">{{ car.name }}</h3>
          {% comment %} <h4>&#8377; {{ car.price }}</h4> {% endcomment %}
          <p class="card-text">{{ car.description }}</p>
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Specification
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  Car type
                </td>
                <td>
                  {{ car.vehicle_type }}
                </td>
              </tr>
              <tr>
                <td>
                  Fuel Type
                </td>
                <td>
                  {% comment %} {{ car.fuel }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Seating capacity
                </td>
                <td>
                  {% comment %} {{ car.seats }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Fuel Tank Capacity (litres)
                </td>
                <td>
                  {% comment %} {{ car.tank_capacity }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Transmission type
                </td>
                <td>
                  {% comment %} {{ car.transmission }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Gears
                </td>
                <td>
                  {% comment %} {{ car.gears }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Engine displacement (cc)
                </td>
                <td>
                  {% comment %} {{ car.engine_displacement }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Maximum power (PS)
                </td>
                <td>
                  {% comment %} {{ car.power }} {% endcomment %}
                </td>
              </tr>
              <tr>
                <td>
                  Dimensions (mm)
                </td>
                <td>
                  {% comment %} {{ car.dimensions }} {% endcomment %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
</div>

{% endblock %} {% block scripts %}
<script
  src="{% static 'js/bootstrap-datepicker.min.js' %}"
  type="text/javascript"
></script>
<script
  src="{% static 'js/additional-methods.js' %}"
  type="text/javascript"
></script>

{% endblock %}