{% extends 'web/base_alt.html' %} {% load static %} {% block title % }Cars{ %
endblock %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/nouislider.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/css_style.default.css' %}"
  id="theme-stylesheet"
/>
<script src="{% static 'js/nouislider.min.js' %}"></script>
{% endblock %} {% block menu %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <form class="form-inline my-2 my-lg-0" id="searchbar" method="POST" action="{% url 'web:cars' %}">
      {% csrf_token %}
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
        placeholder="Search"
        id="search"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        id="submit"
      >
        Search
      </button>
    </form>
  </li>
</ul>
{% endblock %} {% block body %}
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h1>Catalogue</h1>
        <p class="lead text-muted">All the available vehicles...</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a href="{% url 'web:index' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Catalogue</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
      <!-- Sidebar-->
      <div class="sidebar col-xl-3 col-lg-4 sidebar">
        <form id="filter" action="{% url 'web:cars' %}" method="GET">
          <div class="block">
            <h6 class="text-uppercase">Build type</h6>
            <div class="form-group mb-1">
              <input
                id="all"
                type="radio"
                name="make"
                
                class="radio-template"
                value="all"
              />
              <label for="all">All</label>
            </div>
            <div class="form-group mb-1">
                <input id="SCV" type="radio" name="make" class="radio-template" value="SCV">
                <label for="SCV">SCV</label>
            </div>
            <div class="form-group mb-1">
                  <input id="Bus" type="radio" name="make" class="radio-template" value="Bus">
                  <label for="Bus">Bus</label>
            </div>
            <div class="form-group mb-1">
                  <input id="Truck" type="radio" name="make" class="radio-template" value="Truck">
                  <label for="Truck">Truck</label>
            </div>
            <div class="form-group mb-1">
                  <input id="Car" type="radio" name="make" class="radio-template" value="Car">
                  <label for="Car">Car</label>
            </div>
          </div>
          <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          id="filters"
          >
          Filter
         </button>
        </form>
      </div>
      <!-- /Sidebar end-->
      <!-- Grid -->
      <div class="products-grid col-xl-9 col-lg-8 sidebar-left">
        <div class="row grid">
          <!-- item-->
          {% if page_obj %} {% for vehicles in page_obj %}
          <div class="card my-2 mx-2 blue-card">
            <img class="image"
            src="{% if vehicles.image %}
            {{vehicles.image.url}}
            {% else %}
            {% static 'images/car.jpg' %}
            {% endif %}"
            class="img-fluid"/>
            <div class="card-header">
              <a href="{% url 'web:cars_details' vehicles.pk %}" class="text-bold header-link">{{vehicles.name}} </a>
            </div>
            <div class="card-body pb-0">
              <p>
                {{vehicles.brand}}
              </p>
            </div>
          </div>
          {% endfor %} {% else %}
          <p class="d-block font-weight-light my-2 heading">No vehicle</p>
          {% endif %}
        </div>

        <br />
        <!-- page-navigation -->
        <nav
          aria-label="page navigation example"
          class="d-flex justify-content-center"
        >
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>
        </nav>
      </div>
      <!-- / Grid End-->
    </div>
  </div>
</main>
{% endblock %}
